<%= render partial: "shared/app_information.html.erb"%>
<h4>Application Pets:</h4>
<% @application.pets.each do |pet| %>
  <%= pet.name %>
  <% if pet.find_application_pet(@application.id).approved == nil %>
    <%= render partial: 'form', locals: {button_text: 'Approve Pet', pet_id: pet.id} %>
    <%= render partial: 'form', locals: {button_text: 'Reject Pet', pet_id: pet.id} %>
  <% elsif pet.find_application_pet(@application.id).approved == true %> 
    - Pet Approved
  <% elsif pet.find_application_pet(@application.id).approved == false %> 
    - Pet Rejected  
  <% end %> 
  <br>
<% end %>
<h4>Application Status: <%= @application.status %></h4>

